!!! 5
html
  head
  body
    div(data-role='page')
      div(data-role='header')
        div(data-role='navbar')
          ul
            li
              a(href='/') Home
      div(data-role='content')
        div(class='ui-grid-a')
          input(type='hidden', id='gameId', value='#{gameId}')
          input(type='hidden', id='gameState', value='#{gameState}')
          input(type='hidden', id='teamId1', value='#{teamId1}')
          input(type='hidden', id='teamId2', value='#{teamId2}')
          div(class='ui-block-a')
            h1.scoreName1 #{teamName1}
            h1.scoreNumber(id='teamScore1') #{teamScore1}
            input(type='submit', id='teamGoal1Btn', value='Goal!')
          div(class='ui-block-b')
            h1.scoreName2 #{teamName2}
            h1.scoreNumber(id='teamScore2') #{teamScore2}
            input(type='submit', id='teamGoal2Btn', value='Goal!')
      script(src='/javascripts/gameView.js', type='text/javascript')
