!!! 5
html
  head
  body
    div(data-role='page')
      div(data-role='header')
        div(data-role='navbar')
          ul
            li
              a(href='/') Home
      div(data-role='content')
        h1 #{gameTitle}
        form(action='/games/new', method='post')
          input(type='hidden', name='gameType', value='#{gameType}')
          .teamName1(data-role='fieldcontain')
            fieldset.teamlabel(data-role='controlgroup')
              legend Red Team:
              select(name='team1UserId1')
                option Choose...
                for user in users
                  option(value='#{user._id}') #{user.name}
              if gameType === 'doubles'
                select(name='team1UserId2')
                  option Choose...
                  for user in users
                    option(value='#{user._id}') #{user.name}
          .teamName2(data-role='fieldcontain')
            fieldset.teamlabel(data-role='controlgroup')
              legend Blue Team:
              select(name='team2UserId1')
                option Choose...
                for user in users
                  option(value='#{user._id}') #{user.name}
              if gameType === 'doubles'
                select(name='team2UserId2')
                  option Choose...
                  for user in users
                    option(value='#{user._id}') #{user.name}
          input(type='submit', value='Start')
