!!! 5
html
  head
  body
    div(data-role='page')
      div(data-role='header')
        div(data-role='navbar')
          ul
            li
              a(href='/') Home
      div(data-role='content')
        div(class='ui-grid-a')
          input(type='hidden', id='gameId', value='#{gameId}')
          input(type='hidden', id='gameState', value='#{gameState}')
          input(type='hidden', id='playerId1', value='#{playerId1}')
          input(type='hidden', id='playerId2', value='#{playerId2}')
          div(class='ui-block-a')
            h1.scoreName1 #{playerName1}
            h1.scoreNumber(id='playerScore1') #{playerScore1}
            input(type='submit', id='playerGoal1Btn', value='Goal!')
          div(class='ui-block-b')
            h1.scoreName2 #{playerName2}
            h1.scoreNumber(id='playerScore2') #{playerScore2}
            input(type='submit', id='playerGoal2Btn', value='Goal!')
      script(src='/javascripts/singlesGame.js')
