!!! 5
html
  head
  body
    div(data-role='page')
      div(data-role='header')
        div(data-role='navbar')
          ul
            li
              a(href='/') Home
      div(data-role='content')
        h1 #{gameTitle}
        form(action='/games/new', method='post')
          input(type='hidden', name='gameType', value='#{gameType}')
          .playerName1(data-role='fieldcontain')
            label.playerlabel(for='playerId1') Red Player Name:
            select(id='playerId1', name='playerId1')
              for user in users
                option(value='#{user._id}') #{user.name}
            input(type='hidden', name='playerScore1', value='0')
          div(style='text-align: center;') VS
          .playerName2(data-role='fieldcontain')
            label.playerlabel(for='playerId2') Blue Player Name:
            select(id='playerId2', name='playerId2')
              for user in users
                option(value='#{user._id}') #{user.name}
            input(type='hidden', name='playerScore2', value='0')
          input(type='submit', value='Start')
